---
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import type { BlogType } from "src/content/config";

export async function getStaticPaths() {
  const allBlogs: BlogType[] = await getCollection("blog");

  return allBlogs.map((blog) => ({
    params: {
      slug: blog.slug,
    },
    props: {
      blog,
    },
  }));
}

const { blog } = Astro.props;
---

<BaseLayout>
  <Image width={500} height={300} src={blog.data.image} alt={blog.data.title} />
  <h2>{blog.data.title}</h2>
</BaseLayout>
