:root {
    --light-pastel: #fdebf3;   /* Text Color */
    --dark-indigo: #33334f;    /* Background Color */
    --light-blue: #1765b8;     /* Highlight Color */

    /* Tag Design Color */
    --color-front: hsl(163, 38%, 40%);
    --color-back: hsl(163, 38%, 60%);
}


/* Global styles */
html {
    background-color: var(--dark-indigo);
    color: var(--light-pastel);
}

body {
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: normal;
}

/* Headings */
h1, h2, h3 {
    font-weight: normal;
}

h1 {
    font-size: 2.6em;
    margin: 0;
    font-weight: 700;
}

h2 {
    text-decoration: underline var(--light-blue);
    text-decoration-thickness: 4px;
    text-underline-offset: 6px;
    font-weight: 600;
    font-size: 2.1em;
    margin-bottom: 0;
}

strong {
    display: block;
    font-size: 1.4em;
    margin: 13px 0;
    line-height: 1.5;
}

p {
    font-size: 1.1em;
    hyphens: auto;
    line-height: 1.5;
    text-indent: 1em;
} 

a {
    color: var(--light-blue);
    text-decoration: none;
    transition: transform 0.3s ease;
}
  
a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;  
    margin: 0;             
    padding: 0;            
}

li {
    list-style: none;
}

/* Gifs */
.gif {
    margin: 40px 0;
    text-align: center;
}

.gif img {
    width: 35%;
    height: auto;
}

/* Card listing */
.link-card-grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28ch, 1fr));
    gap: 1rem;
    padding: 0;

    img {
        width: 100%;
        height: auto;
        border-radius: 1rem;
    }
}

/* Media Query */
@media only screen and (max-width: 1024px) {
    body {
        width: 540px;
    }

    .gif img {
        width: 50%;
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    body {
        width: 320px;
    }
}