:root {
    --light-pastel: #fdebf3;   /* Text Color */
    --dark-indigo: #33334f;    /* Background Color */
    --light-blue: #1765b8;     /* Highlight Color */

    /* Tag Design Color */
    --color-front: hsl(163, 38%, 40%);
    --color-back: hsl(163, 38%, 60%);

    /* font */
    --font: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
}


/* Global styles */
html {
    background-color: var(--dark-indigo);
    color: var(--light-pastel);
}

body {
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
    font-family: var(--font);
    font-weight: normal;
}

.banner {
    margin: 40px 0;
    text-align: center;
}

.banner img {
    width: 35%;
    height: auto;
}

/* Media Query */

@media only screen and (max-width: 1024px) {
    body {
        width: 540px;
    }

    .banner img {
        width: 50%;
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    body {
        width: 320px;
    }
}