---
import '../../styles/global.css';
import Navbar from 'ui:Navbar';
---

<!-- <HeadSEO
title={title}
description={description}
image={image}
ogImageAlt={ogImageAlt}
/>
<HeadHrefLangs />
<GoogleAnalytics /> -->
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
  </head>

  <body
    class='content-wrapper flex min-h-screen flex-col bg-background-primary leading-normal text-light-slate font-mono'
  >
    <div class='relative flex min-h-[100vh] flex-col'>
      <Navbar />
      <div class='container mx-auto mt-7 flex flex-col xl:flex-row'>
        <main class='relative w-full overflow-hidden px-2'>
          <!-- <Technologies /> -->
          <slot />
        </main>
      </div>
      <!-- <Social />
      <Email /> -->
    </div>
    <!-- <AppFooter />
    <script src='../../utils/title-change.js'></script>
    <script src='../../utils/geeky-console.js'></script>
    <ReloadPrompt /> -->
  </body>
</html>

<!-- <AppFooter />
    <script src='../../utils/title-change.js'></script>
    <script src='../../utils/geeky-console.js'></script>
    <ReloadPrompt /> -->
