---
import { Image } from "astro:assets";
import Layout from "@layouts/BaseLayout.astro";
import NotFound from "@assets/not-found.gif";
import StrongButton from "@components/Button/StrongButton.astro";

const pageTitle = "Not Found | Ezaz Ahmed";
---

<Layout pageTitle={pageTitle}>
  <div class="banner">
    <Image
      width={300}
      height={300}
      alt="Gif collceted from https://giphy.com/iroiro1/"
      src={NotFound}
    />
  </div>
  <div class="container">
    <h2>404</h2>
    <h1>What are you searching for?</h1>
    <p>
      Oops! The page you are looking for might be under construction or does not
      exist.
    </p>

    <div class="center-wrapper">
      <StrongButton url="/" newTabTarget={false}> Return Home </StrongButton>
    </div>
  </div>
</Layout>

<style>
  .center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 0;
  }
</style>
