---
import Layout from "@layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
const pageTitle = "Ezaz Ahmed | Software Developer";
---

<Layout pageTitle={pageTitle}>
  <div class="object">
    <div class="object-rope"></div>
    <div class="object-shape">
      Coming <span class="soon">Soon</span>
    </div>
  </div>

  <div class="content">
    <Icon name="building" size={260} />

    <p class="message">
      My brand new website will be launched soon. Shoot me an email if you want
      to get in contact.
    </p>

    <p class="mailtoaddress">
      <em>
        <a href="mailto:contact@ezaz.dev">contact@ezaz.dev</a>
      </em>
    </p>
  </div>
</Layout>
