---
import BaseLayout from 'layouts:BaseLayout';
---

<BaseLayout>
  <div class='mx-4'>
    <!-- <Hero />
		<About />
		<Jobs />
		<Projects />
		<LastArticles />
		<Contact /> -->
  </div>
</BaseLayout>
