---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Image } from 'astro:assets';
const pageTitle = 'Posts';
---

<Layout pageTitle={pageTitle}>
  <div class='gif'>
    <Image
      width='300'
      height='259'
      alt='https://giphy.com/iroiro1/'
      src='/rant.webp'
    />
  </div>
  <h2>Blog</h2>
  <ul role='list' class='link-card-grid'>
    <Card
      href='https://dev.to/ezaz-ahmed/frontend-development-approaches-to-web-page-rendering-47gg'
      image='/blog/web-page-rendering.webp'
      title='Frontend Development: Approaches to Web Page Rendering'
      body='Here I discussed About Different type of rendering strategy'
    />
  </ul>
</Layout>
