---
import Container from "@components/container.astro";
import { Icon } from "astro-icon";

const menuitems = [
  {
    title: "Blog",
    path: "/blog",
  },
  {
    title: "About",
    path: "/about",
  },
  {
    title: "Projects",
    path: "/project",
  },
];
---

<Container>
  <header class="flex flex-row justify-between items-center my-5">
    <div
      class="flex flex-col sm:flex-row gap-3 w-full items-center justify-between">
      <a href="/" class="group text-2xl text-sky-600 transition duration-300">
        Ezaz A. Ahmed

        <span
          class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-sky-600"
        ></span>
      </a>

      <ul class="flex flex-row gap-6">
        {
          menuitems.map((item) => (
            <li>
              <a
                href={item.path}
                class="group text-sky-600 transition duration-300">
                {item.title}
                <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-sky-600" />
              </a>
            </li>
          ))
        }

        <li>
          <a>
            <Icon
              pack="tabler"
              name="search"
              size="24"
              class="text-sky-600 cursor-pointer"
            />
          </a>
        </li>
      </ul>
    </div>
  </header>
</Container>
