---
import Container from "@components/container.astro";

const menuitems = [
  {
    title: "Who am i?",
    path: "#whoami",
  },
  {
    title: "Projects",
    path: "#projects",
  },
  {
    title: "Blog",
    path: "#blog",
  },
];
---

<header
  class="main-nav lower-glassmorphism bg-bglight dark:bg-bgdark z-30 top-0 shadow-sm fixed duration-400 px-4 sm:px-8 h-16 w-full">
  <Container class="h-full">
    <nav class="flex items-center justify-between h-full">
      <a
        href="/"
        class="text-xl sm:text-2xl md:hover:text-marrsgreen dark:md:hover:text-carrigreen focus-visible:outline-marrsgreen dark:focus-visible:outline-carrigreen">
        @Ezaz
      </a>

      <ul class="flex flex-row gap-6 lg:gap-12">
        {
          menuitems.map((item) => (
            <li>
              <a
                href={item.path}
                class="group text-marrsgreen dark:text-carrigreen font-medium transition duration-300">
                {item.title}
                <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-marrslight dark:bg-carrigreen" />
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </Container>
</header>
