---
import { Image } from "astro:assets";
import Tags from "./Tags.astro";

type Props = {
  href: string;
  image: string;
  title: string;
  tags: string[];
};

const { href, image, title, tags } = Astro.props;
---

<li class="article-card">
  <a href={href}>
    <Image
      width={250}
      height={141}
      src={image}
      class="card-img"
      alt="ProjectImage"
      fetchpriority="low"
      sizes="auto"
    />

    <h3>
      {title}
    </h3>

    <Tags tags={tags} />
  </a>
</li>

<style>
  .article-card {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s ease;

    a {
      text-decoration: none;
      line-height: 1.4;
      border-radius: 8px;
      color: var(--light-pastel);

      h3 {
        text-align: center;
      }

      img {
        border-radius: 16px;
      }

      .card-utility {
        display: flex;
      }
    }
  }

  .article-card:hover {
    transform: scale(1.05);
  }
</style>
