---
const year = new Date().getFullYear();
---

<footer>
  <div>
    <small>
      &copy; {year}
      {' '}
      <a href='https://github.com/ezaz-ahmed'>Ezaz Ahmed</a>. All Rights
      Reserved.</small
    >
    <p>Your privacy matters to me. I don't track your data.</p>
  </div>
</footer>

<style>
  div {
    margin: 4rem 0;
    text-align: center;
  }

  small {
    font-family: 'Josefin Sans', sans-serif;
  }

  small a {
    color: #375a7f;
    text-decoration: none;
  }
</style>
