---
import { Icon } from "astro-icon/components";
---

<footer>
  <hr />

  <div class="footer-container">
    <p>Ezaz Ahmed</p>

    <div class="icon-container">
      <a href="/rss.xml" aria-label="RSS">
        <Icon name="rss" />
      </a>
      <a href="mailto:ezaznahmed@gmail.com" aria-label="Mail">
        <Icon name="mail" />
      </a>
      <a
        href="https://github.com/ezaz-ahmed"
        target="_blank"
        aria-label="Github"
      >
        <Icon name="github" />
      </a>
      <a
        href="https://www.linkedin.com/in/ezaz-ahmed-abdullah/"
        target="_blank"
        aria-label="Linkedin"
      >
        <Icon name="linkedin" />
      </a>
      <a
        href="https://twitter.com/bugxfix"
        target="_blank"
        aria-label="Twitter"
      >
        <Icon name="twitter" />
      </a>
    </div>
  </div>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
  }

  hr {
    width: 100%;
    border: none;
    background-color: var(--steel-blue);
    height: 4px;
    margin: 2rem 0;
  }

  .footer-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .icon-container {
    display: flex;
    gap: 10px;
  }

  .icon-container a {
    color: var(--light-pastel);
  }

  small {
  }

  small a {
    color: #2b81dc;
    text-decoration: 2px solid;
  }

  .social-icons {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
  }

  .social-icons img {
    width: 30px; /* Adjust the size as needed */
  }

  p {
    text-indent: 0;
  }
</style>
