---
import { Icon } from "astro-icon/components";
import SmallButton from "./Button/SmallButton.astro";
---

<footer>
  <hr />

  <div class="footer-container">
    <p>Powered by caffeine 🍵</p>

    <div class="icon-container">
      <SmallButton
        url="mailto:contact@ezaz.dev"
        newTabTarget={false}
        label="Mail"
      >
        <Icon name="mail" width={22} height={22} />
      </SmallButton>

      <SmallButton
        url="https://github.com/ezaz-ahmed"
        newTabTarget={true}
        label="github"
      >
        <Icon name="github" width={22} height={22} />
      </SmallButton>

      <SmallButton
        url="https://www.linkedin.com/in/ezaz7"
        newTabTarget={true}
        label="linkedin"
      >
        <Icon name="linkedin" width={22} height={22} />
      </SmallButton>

      <SmallButton
        url="https://twitter.com/EzazDev"
        newTabTarget={true}
        label="twitter"
      >
        <Icon name="twitter" width={22} height={22} />
      </SmallButton>
    </div>
  </div>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  hr {
    width: 100%;
    border: none;
    background-color: var(--light-blue);
    height: 4px;
    margin: 2rem 0;
  }

  p {
    text-indent: 0;
    font-size: 1.2rem;
  }

  .footer-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .icon-container {
    display: flex;
    gap: 1rem;
  }

  .icon-container a {
    color: var(--light-pastel);
    display: inline-block;
    transition:
      transform 0.3s,
      box-shadow 0.3s;

    &:hover::after {
      transform: scale(1.1);
    }

    &:active {
      transform: translateY(2px);
    }

    &:hover {
      transform: translateY(-2px);
    }
  }

  .social-icons {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
  }

  .social-icons img {
    width: 100%;
    height: auto;
    margin: 0.4em;
  }
</style>
