---
import { Image } from "astro:assets";
import ResumeButton from "@components/ResumeButton.astro";
import logo from "@assets/logo.png";

const pathname = new URL(Astro.request.url).pathname;
---

<header class="header">
  <a href="/">
    <Image src={logo} width={80} height={25} alt="Ezaz Logo" />
  </a>

  <nav class="nav-bar">
    <ul class="nav-links">
      <li>
        <a href="/works/" class={pathname === "/works/" && "active"}>Works</a>
      </li>

      <li>
        <a href="/blogs/" class={pathname === "/blogs/" && "active"}>Blogs</a>
      </li>
    </ul>

    <ResumeButton />
  </nav>
</header>

<style>
  .header > img {
    width: 100%;
    object-fit: fill;
    height: auto;
  }

  .header {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  .nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
  }

  .nav-bar a {
    color: var(--light-pastel);
    text-decoration: none;
    padding: 0.3em 0.2em;
    font-weight: 500;
    font-size: 1.2em;
  }

  .nav-links {
    display: flex;
    gap: 0.8em;
  }

  .nav-links li a {
    position: relative;
    z-index: 1;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      to right,
      var(--light-blue),
      var(--light-blue) 50%,
      #fff 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
  }

  .nav-links li a:before {
    display: block;
    content: "";
    width: 0;
    height: 3px;
    bottom: 5px;
    left: 0;
    bottom: -3px;
    z-index: 0;
    position: absolute;
    background: var(--light-blue);
    transition: all 0.3s ease-in-out;
  }

  .nav-links li a:hover {
    background-position: 0%;
  }

  .nav-links li a:hover:before {
    width: 100%;
  }

  .nav-links li a.active:before {
    width: 100%;
    display: block;
    content: "";
    height: 3px;
    bottom: 5px;
    left: 0;
    bottom: -3px;
    z-index: 0;
    position: absolute;
    background: var(--light-blue);
    transition: all 0.3s ease-in-out;
  }

  @media only screen and (max-width: 600px) {
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1em;
    }
  }
</style>
