---
const pathname = new URL(Astro.request.url).pathname;
---

<header>
  <nav>
    <div class="nav-bar">
      <div class="title-link">
        <a href="/">@Ezaz</a>
      </div>

      <div class="nav-links">
        <a href="/works/" class={pathname === "/works/" && "active"}>Works</a>
        <a href="/blogs/" class={pathname === "/blogs/" && "active"}>Blogs</a>

        <div class="button">
          <a href="/Ezaz-Ahmed(resume).pdf" target="_blank">
            <button>Resume</button>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
