<header class='flex justify-between border-b py-3 gap-4'>
  <nav>
    <a href=''>Home</a>
    <a href=''>Blog</a>
    <a href=''>Projects</a>
  </nav>

  <div>
    <a href=''>Search</a>
    <a href=''>Github</a>
    <a href=''>RSS</a>
    <a href=''>Theme</a>
  </div>
</header>
