---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import { Icon } from "astro-icon";
---

<section
  class="relative mt-16 sm:mt-8 pt-8 lg:pt-0 px-4 sm:px-8 md:px-20 max-w-5xl sm:pb-24 min-h-[769px] mx-auto sm:flex sm:flex-col sm:justify-center sm:items-center lg:flex-row-reverse">
  <span
    aria-hidden="true"
    class="bg-text absolute -top-36 rotate-12 text-gray-100 dark:text-[#1f2e3a] text-9xl scale-150 tracking-wide font-bold select-none pointer-events-none text-center z-0">
    PASSIONATE PROGRAMMER SOFTWARE DEVELOPER PROBLEM SOLVER
  </span>

  <div
    class="image-animation z-10 select-none mt-0 xs:mt-6 lg:mt-0 px-0 mx-auto lg:p-0 lg:basis-1/3">
    <div class="relative w-72 md:w-80 h-80 flex items-center mx-auto">
      <Picture
        src={heroImage}
        alt="Ezaz Ahmed"
        widths={[200, 400, 600]}
        aspectRatio="4:3"
        sizes="(max-width: 765px) 100vw, 620px"
        loading="eager"
        format="avif"
      />
    </div>
  </div>

  <div class="lg:basis-2/3 z-10 relative">
    <span class="text-marrsgreen lg:text-lg font-medium dark:text-carrigreen">
      Hi, 👋 I'm
    </span>
    <div class="overflow-hidden">
      <h1
        class="text-animation text-4xl md:text-5xl lg:text-7xl md:my-2 font-semibold my-1">
        Ezaz Ahmed
      </h1>
    </div>
    <div class="overflow-hidden">
      <span
        class="text-animation text-2xl md:text-3xl lg:text-4xl block md:my-3 text-marrsgreen dark:text-carrigreen font-medium">
        A Software Engineer
      </span>
    </div>
    <div class="mt-2 my-4 md:mb-8">
      <h3
        class="text-3xl [text-wrap:balance] font-medium tracking-normal max-w-xl">
        I craft software for enjoyment and to make a positive impact on the
        world
      </h3>
    </div>
    <div class="mt-6 lg:mt-16 flex flex-row gap-3">
      <a
        href="https://linkedin.com/in/ezaz-ahmed-abdullah"
        target="_blank"
        class="relative px-6 py-3 font-bold text-black group">
        <span
          class="absolute inset-0 w-full h-full transition duration-300 ease-out transform -translate-x-2 -translate-y-2 bg-red-300 group-hover:translate-x-0 group-hover:translate-y-0"
        ></span>
        <span class="absolute inset-0 w-full h-full border-4 border-black"
        ></span>
        <span class="relative">
          <Icon class="text-black w-6 h-6" name="line-md:linkedin" />
        </span>
      </a>

      <a
        href="https://github.com/ezaz-ahmed"
        target="_blank"
        class="relative px-6 py-3 font-bold text-black group">
        <span
          class="absolute inset-0 w-full h-full transition duration-300 ease-out transform -translate-x-2 -translate-y-2 bg-red-300 group-hover:translate-x-0 group-hover:translate-y-0"
        ></span>
        <span class="absolute inset-0 w-full h-full border-4 border-black"
        ></span>
        <span class="relative">
          <Icon class="text-black w-6 h-6" name="bi:github" />
        </span>
      </a>

      <a
        href="https://x.com/BugXFix"
        target="_blank"
        class="relative px-6 py-3 font-bold text-black group">
        <span
          class="absolute inset-0 w-full h-full transition duration-300 ease-out transform -translate-x-2 -translate-y-2 bg-red-300 group-hover:translate-x-0 group-hover:translate-y-0"
        ></span>
        <span class="absolute inset-0 w-full h-full border-4 border-black"
        ></span>
        <span class="relative">
          <Icon class="text-black w-6 h-6" name="lucide:twitter" />
        </span>
      </a>
    </div>
  </div>
  <a
    href="#whoami"
    class="group absolute link-outline animate-bounce hidden md:bottom-14 lg:bottom-16 left-1/2 transform -translate-x-1/2 md:flex items-center flex-col">
    <span class="group-hover:text-marrsgreen dark:group-hover:text-carrigreen">
      Scroll
    </span>

    <Icon
      class="w-6 h-6 dark:text-bglight group-hover:text-marrsgreen dark:group-hover:text-carrigreen"
      name="gg:mouse"
    />

    <Icon
      class="w-4 h-4 mt-2 dark:text-bglight group-hover:text-marrsgreen dark:group-hover:text-carrigreen"
      name="ps:down"
    />
  </a>
</section>
