---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1 class="text-3xl lg:text-4xl xl:text-5xl font-bold tracking-normal">
      Hi 👋 I'm Ezaz Ahmed
    </h1>
    <p
      class="text-lg lg:text-2xl xl:text-3xl leading-loose mt-6 text-slate-600 max-w-xl font-semibold">
      Enabling positive change in the world through the use of cutting-edge,
      top-notch software.
    </p>
    <div class="mt-6 flex flex-row gap-3">
      <a
        href="https://linkedin.com/in/ezaz-ahmed-abdullah"
        target="_blank"
        class="relative px-6 py-3 font-bold text-black group">
        <span
          class="absolute inset-0 w-full h-full transition duration-300 ease-out transform -translate-x-2 -translate-y-2 bg-red-300 group-hover:translate-x-0 group-hover:translate-y-0"
        ></span>
        <span class="absolute inset-0 w-full h-full border-4 border-black"
        ></span>
        <span class="relative">
          <Icon class="text-black w-6 h-6" name="line-md:linkedin" />
        </span>
      </a>

      <a
        href="https://github.com/ezaz-ahmed"
        target="_blank"
        class="relative px-6 py-3 font-bold text-black group">
        <span
          class="absolute inset-0 w-full h-full transition duration-300 ease-out transform -translate-x-2 -translate-y-2 bg-red-300 group-hover:translate-x-0 group-hover:translate-y-0"
        ></span>
        <span class="absolute inset-0 w-full h-full border-4 border-black"
        ></span>
        <span class="relative">
          <Icon class="text-black w-6 h-6" name="bi:github" />
        </span>
      </a>

      <a
        href="https://x.com/BugXFix"
        target="_blank"
        class="relative px-6 py-3 font-bold text-black group">
        <span
          class="absolute inset-0 w-full h-full transition duration-300 ease-out transform -translate-x-2 -translate-y-2 bg-red-300 group-hover:translate-x-0 group-hover:translate-y-0"
        ></span>
        <span class="absolute inset-0 w-full h-full border-4 border-black"
        ></span>
        <span class="relative">
          <Icon class="text-black w-6 h-6" name="lucide:twitter" />
        </span>
      </a>
    </div>
  </div>
</main>
