---
import ThemeIcon from './ThemeIcon.astro';
---

<div class='nav-bar'>
  <div class='title-link'>
    <a href='/'>@Ezaz</a>
  </div>
  <div class='nav-links'>
    <a href='/works/'>Works</a>
    <a href='/rants/'>Rants</a>
    <a href='https://www.linkedin.com/in/ezaz-ahmed-abdullah/' target='_blank'
      >Linkedin</a
    >
    <a href='https://github.com/ezaz-ahmed' target='_blank'>GitHub</a>
    <!-- <ThemeIcon /> -->
  </div>
</div>
