---
import { Image } from "astro:assets";

type SkillType = {
  name: string;
  width: number;
  height: number;
  src: string;
};

const skills: SkillType[] = [
  {
    name: "JavaScript",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-plain.svg",
  },
  {
    name: "TypeScript",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-plain.svg",
  },
  {
    name: "React",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg",
  },
  {
    name: "Svelte",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/svelte/svelte-original.svg",
  },
  {
    name: "Nextjs",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nextjs/nextjs-original.svg",
  },
  {
    name: "Nestjs",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nestjs/nestjs-original.svg",
  },
  {
    name: "Golang",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/go/go-original-wordmark.svg",
  },
  {
    name: "MongoDB",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mongodb/mongodb-original.svg",
  },
  {
    name: "PostgreSQL",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-plain.svg",
  },
  {
    name: "MySQL",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg",
  },
  {
    name: "Docker",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-plain.svg",
  },
  {
    name: "Git",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-plain.svg",
  },
];
---

<div class="link-images">
  {
    skills.map((skill) => (
      <Image
        width={skill.width}
        height={skill.height}
        alt={skill.name}
        src={skill.src}
      />
    ))
  }
</div>

<style>
  .link-images {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(6, 1fr);
  }

  .link-images img {
    width: 50px;
    height: 50px;
    margin: 16px 4px;
    box-sizing: border-box;
  }

  @media only screen and (max-width: 600px) {
    .link-images img {
      height: 30px;
      width: 30px;
    }
  }
</style>
