---
import { Image } from "astro:assets";
import Layout from "@layouts/BaseLayout.astro";
import ProjectCard from "@components/ProjectCard.astro";
import Laptop from "@assets/laptop.webp";

const pageTitle = "Works | Ezaz Ahmed";
---

<Layout pageTitle={pageTitle}>
  <div class="gif">
    <Image
      width="300"
      height="259"
      alt="Gif collected from https://giphy.com/iroiro1/"
      src={Laptop}
    />
  </div>

  <h2>Open Source Projects</h2>
  <ul role="list" class="link-card-grid">
    <ProjectCard
      href="https://github.com/ezaz-ahmed/svelti-prime"
      image="/projects/svelte-prime.webp"
      title="Svelti Prime"
      body="Svelte Version of Netflix"
    />

    <ProjectCard
      href="https://github.com/ezaz-ahmed/pocket-url"
      image="/projects/pocket-url.webp"
      title="Pocket Url"
      body="URL Converter"
    />

    <ProjectCard
      href="https://github.com/ezaz-ahmed/donation-collection-system"
      image="/projects/donation-hero.webp"
      title="Donation Hero"
      body="Become the hero of someone's story"
    />
  </ul>
</Layout>
