---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="A seasoned software developer with 3+ years of expertise in MERN, Next.js, Nest.js, and more"
    />

    <meta
      name="keywords"
      content="MERN stack developer, Next.js expert, Nest.js specialist, Web application developer, JavaScript coding, Full-stack development, React.js proficiency, Node.js expertise, Software engineering portfolio, Innovative coding solutions, UI/UX design, Responsive web development, MongoDB integration, Server-side rendering, Progressive web applications (PWAs)"
    />

    <meta name="generator" content={Astro.generator} />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
