---
import { navMenus } from '@models:Menu';
import type { Menu } from '@types:menu.types';
import Icon from 'astro-icon';

export interface Props {
  drawer: boolean;
}

const { drawer } = Astro.props;

const { pathname } = Astro.url;

const isBlogRoot = pathname.endsWith('/blog') || pathname.endsWith('/blog/');
---

<ul
  class={`mt-8 block w-full flex-grow origin-top-right items-center
    space-y-6 overflow-y-auto font-bold tracking-wide lg:mt-0
    lg:w-auto lg:flex-initial lg:space-x-8 lg:space-y-0 lg:flex ${
      drawer ? 'flex-col' : 'hidden'
    }`}
>
  {
    navMenus.map((menu: Menu) => (
      <li>
        <a
          href={menu.link}
          id={drawer ? `drawer-${menu.id}` : `nav-${menu.id}`}
          data-drawer-dismiss='menu-drawer'
          tabindex={drawer ? -1 : 0}
        >
          {menu.title}
        </a>
      </li>
    ))
  }

  <a
    id={drawer ? 'drawer-resume' : 'nav-resume'}
    href='/files/ezaz_ahmed_cv.pdf'
    target='_blank'
    class='resume-button'
    tabindex={drawer ? -1 : 0}
  >
    Resume
  </a>
</ul>
